{% include '/views/administrador_header.html' %}

<div id="mySidenav" class="sidenav">
    <form action="">
        <input type="text" name="nombre_usuario" placeholder="Nombre Usuario"/>
        <input type="text" name="password" placeholder="Password"/>
        <input type="text" name="razon_social" placeholder="Razón social"/>
        <input type="text" name="domicilio" placeholder="Domicilio"/>
        <input type="text" name="cuitcuil" placeholder="Cuit-Cuil"/>
        <input type="text" name="telefono" placeholder="Teléfono"/>
        <input type="text" name="mail" placeholder="email"/>

        <button>Save</button>


    </form>
  
</div>


{% include '/views/footer.html' %}