<style>
    .titulos {
        text-align: center;
        font-weight: bold;
        font-size: large;
    }
    .datos_texto{
        text-align: center; 
    }
    .datos_numeros{
        text-align: right;   
    }
    
</style>
<div class="page-container">
    
    {% include '/views/header.html' %} 
    <div class="content">
        <div>
            <h1 style="text-align: center">Crear Cuenta</h1>
            <h2 style="text-align: center">Escoja Tipo de Cuenta</h2>
            <br>
            <br>
            <br>
        </div>
        <body>

            <form class="titulos h3 mb-3 font-weight-bolder"  method="get" action='/crear_cuenta_caja_ahorro'>
            <input type="submit"  onclick="return confirm('CUENTA CREADA CON EXITO')" value="Caja Ahorro Pesos" />
            </form>
            <form class="titulos h3 mb-3 font-weight-bolder" method="get" action='/crear_cuenta_corriente_pesos'>
            <input type="submit"  onclick="return confirm('CUENTA CREADA CON EXITO')"  value="Cuenta Corriente Pesos" />
            </form>
            <form class="titulos h3 mb-3 font-weight-bolder"  method="get" action='/crear_cuenta_corriente_dolares'>
            <input type="submit"  onclick="return confirm('CUENTA CREADA CON EXITO')"  value="Cuenta Corriente Dolares" />
            </form>
            
           
        </body>
       
    </div>
    {% include '/views/footer.html' %}
</div>