<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso</title>
    <link href="{{ url_for('static', filename='styles/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='ingreso.css') }}" rel="stylesheet">
  

</head>
<body>
    <h1>BANCO <span>BRULIM</span></h1>
    <br>
    <h3 style="color: black; text-shadow: 2px 2px #787575"">Puede confiar en nosotros</h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a  class="h3 mb-3 font-weight-normal " href="/pagina_login">Ingresar a la página</a>
</body>
</html>