<style>
    .titulos {
        text-align: center;
        font-weight: bold;
        font-size: large;
    }
    .datos_texto{
        text-align: center; 
    }
    .datos_numeros{
        text-align: right;   
    }
</style>
<div class="page-container">
    
    {% include '/views/header.html' %} 
    <div class="content">
        <div>
            <h1 style="text-align: center">Listado de Cuentas</h1>
            <br>
        </div>
        <table class="table table-bordered">
            <tr>
                <td class="titulos">CBU</td><td class="titulos">Número de Cuenta</td><td class="titulos">Tipo de Cuenta</td><td class="titulos">Fecha de Apertura</td><td class="titulos">Sucursal ID</td><td class="titulos">Dirección</td><td class="titulos">Ciudad</td><td class="titulos">OPERACION</td>
            </tr>
            {% for listar_cuentas in listado_cuentas %}
            <tr>
                <td class="datos_texto">{{listar_cuentas[0]}}</td><td class="datos_numeros">{{listar_cuentas[1]}}</td><td class="datos_texto">{{listar_cuentas[3]}}</td><td class="datos_texto">{{listar_cuentas[4]}}</td><td class="datos_texto">{{listar_cuentas[7]}}</td><td class="datos_texto">{{listar_cuentas[2]}}</td><td class="datos_texto">{{listar_cuentas[5]}}</td><td class="datos_texto">{{listar_cuentas[6]}}
                <td>
                    <label for="inputEmail" class="sr-only"></label>
                    <form class="form-signin" action="/realizar_deposito/{{listar_cuentas[1]}}" method="post">
                        <input type="" name="depositar" id="depositar" class="form-control" placeholder="INGRESE MONTO" required autofocus>
                        <button class="btn btn-lg btn-secondary btn-block form-control" type="submit">DEPOSITAR</button>
                    </form>
                    <form class="form-signin" action="/realizar_retiro/{{listar_cuentas[1]}}" method="post">
                        <input type="" name="retirar" id="retirar" class="form-control" placeholder="INGRESE MONTO" required autofocus>
                        <button class="btn btn-lg btn-secondary btn-block form-control" type="submit">EXTRAER</button>
                    </form>
                </td>
                
            </tr>
            {% endfor %}
        </table>
    </div>
    {% include '/views/footer.html' %}
</div>
