{% include '/views/header.html' %}

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="crear_cuenta.html">Crear una Cuenta</a>
  <a href="#">Listar Cuentas</a>
  <a href="#">Listar Saldos de Mis Cuentas</a>
  <a href="#">Listar los Movimientos</a>
  <a href="#">Realizar un Depósito</a>
  <a href="#">Realizar una Transferencia</a>
  <a href="#">Realizar un Pago en Línea</a>
  <a href="#">Realizar un Retiro</a>
  <a href="#">Cerrar una Cuenta</a>
</div>


{% include '/views/footer.html' %}