<div class="page-container">
    {% include '/views/header.html' %}
    
        <div class="content">
            BIENVENIDO
        
            <body>

                <form class="titulos h3 mb-3 font-weight-bolder"  method="get" action='/crear_cuenta'>
                <a class="nav-link" href='/crear_cuenta'></a>
                <input type="submit" value="Crear Cuenta" />
                </form>
                <form class="titulos h3 mb-3 font-weight-bolder" method="get" action='/listar_cuentas'>
                <input type="submit" value="Ver Cuentas" />
                </form>
                <form class="titulos h3 mb-3 font-weight-bolder" method="get" action='/listar_saldos'>
                <input type="submit" value="Saldos" />
                </form>
                <form class="titulos h3 mb-3 font-weight-bolder"  method="get" action='/listar_movimientos'>
                <input type="submit" value="Movimientos" />
                </form>
                <!-- <form class="titulos h3 mb-3 font-weight-bolder"  method="get" action='/realizar_deposito'>
                <input type="submit" value="Depositar" />
                </form>
                <form class="titulos h3 mb-3 font-weight-bolder" method="get" action='/realizar_transferencia'>
                <input type="submit" value="Transferir" />
                </form>
                <form class="titulos h3 mb-3 font-weight-bolder"  method="get" action='/realizar_retiro'>
                <input type="submit" value="Extracción" />
                </form> -->
                <form class="titulos h3 mb-3 font-weight-bolder"  method="get" action='/cerrar_cuenta'>
                <input type="submit" value="Cerrar Cuenta" />
                </form>
            
            
            </body>
        </div>
    
    
    {% include '/views/footer.html' %}
</div>