<div class="page-container">
    {% include '/views/header.html' %}
    
        <div class="content">
            <form enctype="multipart/form-data" action='/realizar_deposito' methods="post">
                <label for="inputdeposito" class="sr-only">Monto $</label>
                <input type="text" name="deposito" id="deposito" class="form-control" placeholder="deposito" required autofocus style="width: 300px;">
                <button class="btn btn-lg btn-secondary btn-block" type="submit" style="width: 300px;">Enviar</button>
            </form>
        </div>
    
    {% include '/views/footer.html' %}
</div>