<style>

    .titulos2 {
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        align-items: center;
    }
</style>
<div class="page-container">
    {% include '/views/header.html' %}
    
        <div class="content">
            <label for="inputNombre" class="sr-only">Monto a depositar $</label>
                <input type="text"  name="deposito" id="deposito" class="form-control" placeholder="Monto a depositar $" required autofocus style="width: 300px;">
                <button class="btn btn-lg btn-secondary btn-block" type="submit" style="width: 300px;">Confirmar depósito</button>
    
        </div>
    
    
    {% include '/views/footer.html' %}
</div>